@mixin mixin-psevdo-plus($property) {
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  // transition: transform 0.2s ease-out;
  will-change: transform;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 40%;
    left: 30%;
    height: 4%;
    top: 48%;
    background: $property;
  }
  &:after {
    width: 4%;
    left: 48%;
    height: 40%;
    top: 30%;
  }
  &.spin45 {
    transform: rotate(45deg);
  }
}

// .psevdoPlus {
//   // @include mixin-psevdo-plus(var(--m3-color));
// }
