/*сумма значений в ячейке */
.carc-cell {
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  .carc-sum {
    color: black;
    margin: -0.4em 0;
    font-size: 2em;
  }
  /*длинна ролика +1.5 */
  .poltora {
    font-size: 1.1em;
    margin: -0.18em 0;
    color: rgb(200, 200, 200);
  }
  //бокс для "сколько каких штук"
  .pc-box {
    margin: -0.3em 0;
    font-size: 1em;
    .x,
    .pc-descripion {
      color: rgb(220, 220, 220);
    }
    .pc {
      color: rgba(200, 0, 0, 0.719);
    }
    .meter {
      color: rgba(0, 165, 0, 0.83);
    }
  }
}



/* // aspect-ratio */
