/*сумма значений в ячейке */
.carc-list-item,
.carc-cell {
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  .carc-sum {
    color:var(--m3-color);
    margin: -0.4em 0;
    font-size: 2em;
  }
  /*длинна ролика +1.5 */
  .poltora {
    font-size: 1.1em;
    margin: -0.18em 0;
    color: var(--m3-color-muted-2);
  }
  //бокс для "сколько каких штук"
  .pc-box {
    margin: -0.3em 0;
    font-size: 1em;
    .x,
    .pc-descripion {
      color: var(--m3-color-muted-3)
    }
    .pc {
      color:var(--m3-color-tt2);
    }
    .meter {
      color:var(--m3-color-tt1);
    }
  }
}



/* // aspect-ratio */
